## For Loop
**Syntax:**
```python
for variable in iterable:
    # code block

In [3]:
for i in range(7):    #Note that range(7) is not the values of 0 to 7, but the values 0 to 6.
  laptop_price = int(input("Enter the price  of the laptop : "))

Enter the price  of the laptop : 35000
Enter the price  of the laptop : 54000
Enter the price  of the laptop : 75000
Enter the price  of the laptop : 76000
Enter the price  of the laptop : 85000
Enter the price  of the laptop : 72000
Enter the price  of the laptop : 69000

In [4]:
num = [10, 20, 30, 40, 50, 60]

print(num[0])
print(num[1])
print(num[2])
print(num[3])
print(num[4])
print(num[5])

10
20
30
40
50
60

In [7]:
num = [10, 20, 30, 40, 50, 60]

for i in num:
  print(i)

10
20
30
40
50
60

In [9]:
for x in "Banana":
  print(x)

B
a
n
a
n
a

In [11]:
fruits = ["Apple", "Banana", "Cherry"]

for x in fruits:
  print(x)

Apple
Banana
Cherry

In [12]:
fruits = ["Apple", "Banana", "Cherry"]
for x in fruits:
  if x == "Banana":
    break
  print(x)

Apple

In [13]:
fruits = ["Apple", "Banana", "Cherry"]
for x in fruits:
  if x == "Banana":
    continue
  print(x)

Apple
Cherry

#### Else in For Loop

In [14]:
for x in range(6):
  print(x)
else:
  print("Finally finished!")

0
1
2
3
4
5
Finally finished!

#### Nested Loops

In [15]:
adj = ["Red", "Big", "Tasty"]
fruits = ["Apple", "Banana", "Cherry"]

for x in adj:
  for y in fruits:
    print(x, y)

Red Apple
Red Banana
Red Cherry
Big Apple
Big Banana
Big Cherry
Tasty Apple
Tasty Banana
Tasty Cherry

## While Loop

**Syntax:**
```python
while condition:
    # code block

In [16]:
i = 1
while i <= 5:
    print(i)
    i += 1

1
2
3
4
5

In [18]:
i = 0

while i < 10:
  print(i)
  i += 1

0
1
2
3
4
5
6
7
8
9

In [23]:
# The loop condition (i < 3) is False because i starts at 5,
# so the while loop does not execute even once.

i = 5

while i<3:
  print(i)
  i += 1

In [26]:
i = 0
while i < 6:
  print(i)
  i += 1

0
1
2
3
4
5

#### The break Statement

In [37]:
i = 0
while i < 6:
  if i == 3:
    break   # stops the loop when i becomes 3
  print(i)
  i += 1

0
1
2

In [36]:
i = 1

while i <= 10:
    if i == 6:
        break   # stops the loop when i becomes 6
    print(i)
    i += 1

1
2
3
4
5

#### The continue Statement

In [45]:
i = 0

while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

# Note that number 3 is missing in the result

1
2
4
5
6