# Operations in Python:
1. Arithmetic Operations
2. Asssignmnet Operations
3. Comparison Operation
4. Logical Operation
5. Identity Operation
6. Membership Opearation

#### 1. Arithmetic Opearion

In [29]:
num_1 = 20
num_2 = 10

#Addition
sum = num_1 + num_2
print("Summation :", sum)

#Subtraction
diff = num_1 - num_2
print("Difference :", diff)

# Multiplication
prod = num_1 * num_2
print("Product :", prod)

# Division
quot = num_1 / num_1
print("Quotient :", quot)

#Exponent
exp = num_1 ** num_2   # 20^10
print("Exponent :", exp)

#Modulus
mod = num_1 % num_2
print("Reminder :", mod)

Summation : 30
Difference : 10
Product : 200
Quotient : 1.0
Exponent : 10240000000000
Reminder : 0

#### 2. Assignment Operator
- +=
- -=
- *=
- **=
- /=
- %=

In [30]:
a = 5
print(a)

5

In [31]:
a = 5
a +=5  # a = a + 5
print(a)

10

In [32]:
b = 5
b -= 2  # b = b - 2
print(b)

3

In [33]:
c = 5
c *= 2  # c = c * 2
print(c)

10

In [34]:
d = 5
d **= 3  # b = b ^ 3
print(d)

125

In [35]:
e = 5
e /= 2  # e = e / 2
print(e)

2.5

In [36]:
f = 5
f %= 2  # f = f % 2
print(f)

1

#### 3. Comparison Operator

In [37]:
a = 7
b = 15

print(a == b)
print(a != b)
print(a > b)
print(a < b)
print(a >= b)
print(a <= b)

False
True
False
True
False
True

#### 4. Logical Operators

- and
- or
- not

In [38]:
a = 10

print(a > 20 and a > 5)
print(a > 20 or a > 5)
print(not(a > 8 and a > 5))

False
True
False

#### 5. Identity Operators
- is
- is not

In [39]:
x = 5
y = 5

print(x is y)

True

In [40]:
x = 5
y = 10

print(x is y)

False

In [41]:
x = 5
y = 5

print(x is not y)

False

In [42]:
x = 5
y = 10

print(x is not y)

True

#### 6. Membership Operators
- in
- not in

In [43]:
a = 5

c = [1,2,3,4,5]
print(a in c)

True

In [44]:
b = 10

c = [1,2,3,4,5]
print(b in c)

False

In [45]:
a = 5

c = [1,2,3,4,5]
print(a not in c)

False

In [46]:
b = 10

c = [1,2,3,4,5]
print(b not in c)

True